

/**
 * Wizard
 */
.path-local-workshopaddons.path-local-workshopaddons-wizard .mform .fgroup .proceedbutton {
    float: right;
    margin-right: 5%;
}

.path-local-workshopaddons .wizard-button {
    float: right;
}

.path-local-workshopaddons .wizard-navigation {
    margin: 25px 0 20px;
}

.path-local-workshopaddons .wizard-navigation ol {
    position: relative;
    overflow: hidden;
    counter-reset: wizard;
    display: flex;
    flex: 0 1 auto;
    margin: 0;
}

.path-local-workshopaddons .wizard-navigation ol:before,
.path-local-workshopaddons .wizard-navigation ol:after,
.path-local-workshopaddons .wizard-navigation li + li:after {
    content: "";
    display: block;
    width: 50%;
    background-color: #3498db;
    height: 2px;
    position: absolute;
    top: 1.5em;
    z-index: -1;
    transform: translateY(1px);
}

.path-local-workshopaddons .wizard-navigation ol:before {
    left: 0;
}
.path-local-workshopaddons .wizard-navigation ol:after {
    background-color: #ddd;
    right: 0;
}

.path-local-workshopaddons .wizard-navigation li + li:after {
    width: 100%;
    background-color: #3498db;
    left: -50%;
    z-index: 0;
}

.path-local-workshopaddons .wizard-navigation li {
    position: relative;
    list-style-type: none;
    flex-basis: 100%;
    text-align: center;
    color: #3498db;
}

.path-local-workshopaddons .wizard-navigation li a {
    color: #333;
}
.path-local-workshopaddons .wizard-navigation li a:hover,
.path-local-workshopaddons .wizard-navigation li a:focus {
    text-decoration: none;
}

.path-local-workshopaddons .wizard-navigation .current ~ li {
    color: #3498db;
}

.path-local-workshopaddons .wizard-navigation li .container:before {
    counter-increment: wizard;
    content: counter(wizard);
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    background-color: #3498db;
    border: 2px solid #3498db;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 2em;
    position: relative;
    margin-bottom: 0.2em;
    z-index: 1;
}
.path-local-workshopaddons .wizard-navigation .current ~ li .container:before {
    background-color: #fff;
    color: #333;
    border-color: #ddd;
}

.path-local-workshopaddons .wizard-navigation .current ~ li:after {
    background-color: #ddd;
}
.path-local-workshopaddons .wizard-navigation li .container .legend {
    display: block;
}

@media screen and (min-width: 900px) {
    .path-local-workshopaddons .userplan dd.active {
        display: flex;
        flex: 1 1 0;
        flex-wrap: wrap;
    }
    .path-local-workshopaddons .userplan .phasetasks .switchtonextphase,
    .path-local-workshopaddons .userplan .phasetasks .switchtonextphase .btn {
        width: 100%;
        box-sizing: border-box;
    }
    .path-local-workshopaddons .userplan .phasetasks .switchtonextphase {
        align-self: flex-end;
        margin: 10px auto 0;
    }
    .path-local-workshopaddons .userplan .phasetasks .switchtonextphase:first-child {
        align-self: center;
        margin-top: 0;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .path-local-workshopaddons .userplan {
        border-right: none;
        border-top: none;
    }

    .path-local-workshopaddons .userplan dl,
    .path-local-workshopaddons .userplan.nbphases4 dl {
        width: 100%;
        border-right: none;
    }

    .path-local-workshopaddons .userplan dt {
        float: left;
        width: 30%;
        border-bottom: none;
        border-top: 1px solid #ddd;
        box-sizing: border-box;
    }
    .path-local-workshopaddons .userplan dt.active {
        border: none;
    }

    .path-local-workshopaddons .userplan dd {
        float: left;
        width: 70%;
        box-sizing: border-box;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .path-local-workshopaddons .wizard-navigation li .container .legend {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .path-local-workshopaddons .userplan {
        border-bottom: none;
    }

    .path-local-workshopaddons .userplan dt {
        float: left;
        width: 70%;
        border-bottom: none;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        margin: 0;
        padding: 5px;
    }

    .path-local-workshopaddons .userplan dd {
        float: left;
        width: 70%;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .path-local-workshopaddons .wizard-button {
        float: none;
    }

    .path-local-workshopaddons .wizard-navigation li .container:before {
        font-size: 1.5em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        border-radius: 1.5em;
    }

    .path-local-workshopaddons .wizard-navigation ol:before,
    .path-local-workshopaddons .wizard-navigation ol:after,
    .path-local-workshopaddons .wizard-navigation li + li:after {
        top: 1.15em;
    }
}

.path-local-workshopaddons .userplan dd {
    vertical-align: top;
    border-right: 1px solid #ddd;
    background-color: #f5f5f5;
    margin: 0;
    min-height: 180px;
    padding: 5px;
}

.path-local-workshopaddons .userplan dd,
.path-local-workshopaddons .userplan dd a,
.path-local-workshopaddons .userplan dd a:link,
.path-local-workshopaddons .userplan dd a:hover,
.path-local-workshopaddons .userplan dd a:visited,
.path-local-workshopaddons .userplan dd a:active {
    color: #999;
}

.path-local-workshopaddons .userplan dd.active,
.path-local-workshopaddons .userplan dd.active a,
.path-local-workshopaddons .userplan dd.active a:link,
.path-local-workshopaddons .userplan dd.active a:hover,
.path-local-workshopaddons .userplan dd.active a:visited,
.path-local-workshopaddons .userplan dd.active a:active {
    color: black;
}

.path-local-workshopaddons .userplan dd.lastcol {
    border-right: 0;
}

.path-local-workshopaddons .userplan dd.active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #e7f1c3;
}

.path-local-workshopaddons .userplan dt .actions {
    font-size: smaller;
}

.path-local-workshopaddons .userplan dd.phasetasks li {
    background-image: url([[pix:local_workshopaddons|userplan/task-todo]]);
    background-position: top left;
    background-repeat: no-repeat;
    list-style-type: none;
    min-height: 16px;
    margin: .3em 0;
}

.dir-rtl.path-local-workshopaddons .userplan dd.phasetasks li {
    background-position: top right;
}

.path-local-workshopaddons .userplan dd.phasetasks li.completed {
    background-image: url([[pix:local_workshopaddons|userplan/task-done]]);
}

.path-local-workshopaddons .userplan dd.phasetasks li.fail {
    background-image: url([[pix:local_workshopaddons|userplan/task-fail]]);
}

.path-local-workshopaddons .userplan dd.phasetasks li.info {
    background-image: url([[pix:local_workshopaddons|userplan/task-info]]);
}

.path-local-workshopaddons .userplan dd.phasetasks .tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.path-local-workshopaddons .userplan dd.phasetasks .title {
    padding: 0 10px 0 20px;
}

.dir-rtl.path-local-workshopaddons .userplan dd.phasetasks .title {
    padding: 0 20px 0 10px;
}

.path-local-workshopaddons .userplan dd.phasetasks .details {
    padding: 0 10px 0 25px;
    font-size: 80%;
}

.dir-rtl.path-local-workshopaddons .userplan dd.phasetasks .details {
    padding: 0 25px 0 10px;
}

/**
 * Assessment - full display
 */
.path-local-workshopaddons .assessment-full {
    border: 1px solid #ddd;
    margin: 0 auto 1em auto;
}

.path-local-workshopaddons .assessment-full .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 35px;
}

.path-local-workshopaddons .assessment-full .header .title {
    font-weight: bold;
}

.path-local-workshopaddons .assessment-full .header .title,
.path-local-workshopaddons .assessment-full .header .reviewer,
.path-local-workshopaddons .assessment-full .header .grade,
.path-local-workshopaddons .assessment-full .header .weight {
    margin: 0 0 0 40px;
}

.path-local-workshopaddons .assessment-full.anonymous .header .title,
.path-local-workshopaddons .assessment-full.anonymous .header .reviewer,
.path-local-workshopaddons .assessment-full.anonymous .header .grade,
.path-local-workshopaddons .assessment-full.anonymous .header .weight {
    margin: 0 0 0 5px;
}

.path-local-workshopaddons .assessment-full .header .reviewer .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}
.dir-rtl.path-local-workshopaddons .assessment-full .header .reviewer .picture {
    right: 3px;
    left: auto;
}

.path-local-workshopaddons .assessment-full .header .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}

.path-local-workshopaddons .assessment-full .header .actions .singlebutton,
.path-local-workshopaddons .assessment-full .header .actions .singlebutton form,
.path-local-workshopaddons .assessment-full .header .actions .singlebutton form div {
    display: inline;
}

.path-local-workshopaddons .assessment-full .assessment-form-wrapper,
.path-local-workshopaddons .assessment-full .overall-feedback-wrapper {
    margin-top: 0.5em;
    padding: 0 1em;
}

.path-local-workshopaddons .assessment-summary.graded .singlebutton input[type="submit"],
.path-local-workshopaddons .example-summary.graded .singlebutton input[type="submit"] {
    background-color: #e7f1c3;
}

.path-local-workshopaddons .assessment-summary.notgraded .singlebutton input[type="submit"],
.path-local-workshopaddons .example-summary.notgraded .singlebutton input[type="submit"] {
    background-color: #ffd3d9;
}

/**
 * Overall feedback
 */
.path-local-workshopaddons .assessment-full .overallfeedback .content,
.path-local-workshopaddons .assessment-full .overallfeedback .attachments {
    padding: 5px 10px;
}

.path-local-workshopaddons .assessment-full .overallfeedback .attachments .files img.icon {
    margin-right: 5px;
}

.path-local-workshopaddons .assessment-full .overallfeedback .attachments .images div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

/**
 * Assessment form
 */
.path-local-workshopaddons .assessmentform .description {
    margin: 0 1em;
}

/**
 * Grading report
 */
.path-local-workshopaddons .grading-report {
    width: 100%;
    margin: 1em auto 1em auto;
    font-size: 80%;
    border: 1px solid #ddd;
}

.path-local-workshopaddons .grading-report .userpicture {
    margin: 0 3px;
    vertical-align: middle;
}

.path-local-workshopaddons .grading-report del {
    color: red;
    font-size: 90%;
    text-decoration: line-through;
}

.path-local-workshopaddons .grading-report ins {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

.path-local-workshopaddons .grading-report th {
    white-space: normal;
}

.path-local-workshopaddons .grading-report td {
    vertical-align: top;
    border: 1px solid #ddd;
}

.path-local-workshopaddons .grading-report tr.published td.submission {
    background-color: #d2ebff;
}

.path-local-workshopaddons .grading-report tr.published td.submission a {
    font-weight: bold;
}

.path-local-workshopaddons .grading-report .assessmentdetails {
    white-space: nowrap;
}

.path-local-workshopaddons .grading-report .receivedgrade span.grade,
.path-local-workshopaddons .grading-report .givengrade span.gradinggrade {
    font-weight: bold;
}

.path-local-workshopaddons .grading-report .submissiongrade.cell,
.path-local-workshopaddons .grading-report .gradinggrade.cell {
    text-align: center;
    font-size: 200%;
    white-space: nowrap;
}

.path-local-workshopaddons .grading-report .givengrade.null .user,
.path-local-workshopaddons .grading-report .receivedgrade.null .user {
    color: #e00;
}

.path-local-workshopaddons .grading-report-view-switcher {
    float: right;
    margin-bottom: 10px;
}

.path-local-workshopaddons .grading-report-view-switcher span {
    display: inline-block;
    margin-left: 20px;
}

/**
 * Final grades
 */
.path-local-workshopaddons #workshop-viewlet-yourgrades .finalgrades {
    text-align: center;
}

.path-local-workshopaddons #workshop-viewlet-yourgrades .finalgrades .grade {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 2em;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.path-local-workshopaddons #workshop-viewlet-yourgrades .finalgrades .grade.submissiongrade {
    background-color: #d2ebff;
}

.path-local-workshopaddons #workshop-viewlet-yourgrades .finalgrades .grade.assessmentgrade {
    background-color: #eee;
    /*background-color: #e7f1c3;*/
}

.path-local-workshopaddons #workshop-viewlet-yourgrades .finalgrades .grade .gradevalue {
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
}


.path-local-workshopaddons .mform .wizard-summary .fitem {
    margin-bottom: 0;
}

.path-local-workshopaddons div.assessbutton div.singlebutton {
    text-align: left;
}

.path-local-workshopaddons div.assessbutton div.singlebutton div {
    margin-left: 0;
    display: block;
}
.path-local-workshopaddons div.assessbutton div.singlebutton input[type="submit"] {
    margin-left: 2px;
}
.path-local-workshopaddons .userplan .phasetasks .switchtonextphase {
    padding: 0 20px;
}
.path-local-workshopaddons .userplan .phasetasks .switchtonextphase .btn {
    color: #fff;
    font-size: 100%;
    padding-left: 8%;
    padding-right: 8%;
}
.path-local-workshopaddons .allocations .form-autocomplete-selection {
    display: none;
}
.path-local-workshopaddons .allocations [role="listitem"] {
    margin-bottom: 5px;
}
.path-local-workshopaddons .allocations [role="listitem"] .delete-user-allocation a {
    color: #fff;
    padding-right: 0.5em;
    vertical-align: middle;
    text-decoration: none;
}
.path-local-workshopaddons .allocations [role="listitem"].selfassessment {
    background-color: #fff;
    border: 1px solid #3a87ad;
    color: #3a87ad;
    text-shadow: none;
}
.path-local-workshopaddons .allocations [role="listitem"] img {
    padding-right: 0.5em;
}
.path-local-workshopaddons .header-allocation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.path-local-workshopaddons .header-allocation .allocation-view-switcher > label {
    font-weight: bold;
}
.path-local-workshopaddons .header-allocation .allocation-view-switcher > span {
    display: block;
}
.path-local-workshopaddons .allocator-plugins-container {
    display: none;
}

.path-local-workshopaddons .completedstatus.completed {
    background-image: url([[pix:local_workshopaddons|userplan/task-done]]);
}

.path-local-workshopaddons .completedstatus.fail {
    background-image: url([[pix:local_workshopaddons|userplan/task-fail]]);
}

.path-local-workshopaddons .completedstatus.info {
    background-image: url([[pix:local_workshopaddons|userplan/task-info]]);
}
.path-local-workshopaddons .otherphases li {
    background-image: url([[pix:local_workshopaddons|userplan/task-todo]]);
    background-position: top left;
    background-repeat: no-repeat;
    list-style-type: none;
    min-height: 16px;
    margin: .3em 0;
    padding-left: 20px;
}
